<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup</title>
  </head>
  <body>
    <h1>USER REGISTRATION PAGE</h1>
    <div>
      <form action="/user/signup" method="post">
        <label>Full Name :</label>
        <input type="text" required name="name" />
        <br />
        <br />
        <label>Email Id :</label>
        <input type="text" required name="email" />
        <br />
        <br />
        <label>Password :</label>
        <input type="text" required name="password" />
        <br />
        <br />

        <button>signup</button>
      </form>
    </div>
  </body>
</html>
