<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signin</title>
  </head>
  <body>
    <h1>USER LOGIN PAGE</h1>
    <div>
      <form action="/user/Signin" method="post">
        <label>user Id :</label>
        <input type="text" required name="email" />
        <br />
        <br />
        <label>Password :</label>
        <input type="text" required name="password" />
        <br />
        <br />

        <button type="submit">signin</button>
      </form>
    </div>
  </body>
</html>
